@use './variables' as *;
@use 'sass:map';

$error: map.get($colors, 'error');
$primary: map.get($colors, 'primary');
$black: map.get($colors, 'black');
$light-blue: map.get($colors, 'light-blue');
$medium-blue: map.get($colors, 'medium-blue');
$blue: map.get($colors, 'blue');
$dark-blue: map.get($colors, 'dark-blue');
$green: map.get($colors, 'green');
$gray: map.get($colors, 'gray');
$orange: map.get($colors, 'orange');

$fz-mini: map.get($font-sizes, 'mini');
$fz-small: map.get($font-sizes, 'small');
$fz-medium: map.get($font-sizes, 'medium');
$fz-base: map.get($font-sizes, 'base');
$fz-large: map.get($font-sizes, 'large');
$fz-xl: map.get($font-sizes, 'xl');
$fz-xxl: map.get($font-sizes, 'xxl');
$fz-xxxl: map.get($font-sizes, 'xxxl');

:root {
    --error: #{$error};
    --primary: #{$primary};
    --black: #{$black};
    --light-blue: #{$light-blue};
    --medium-blue: #{$medium-blue};
    --blue: #{$blue};
    --dark-blue: #{$dark-blue};
    --green: #{$green};
    --gray: #{$gray};
    --orange: #{$orange};

    --fz-mini: #{$fz-mini};
    --fz-small: #{$fz-small};
    --fz-medium: #{$fz-medium};
    --fz-base: #{$fz-base};
    --fz-large: #{$fz-large};
    --fz-xl: #{$fz-xl};
    --fz-xxl: #{$fz-xxl};
    --fz-xxxl: #{$fz-xxxl};
}

@font-face {
    font-family: Helvetica-normal;
    src: url('./../assets/fonts/helveticaneuecyr_roman.otf');
}

@font-face {
    font-family: Helvetica-weight;
    src: url('./../assets/fonts/helveticaneuecyr_black.otf');
}

@font-face {
    font-family: Helvetica-thin;
    src: url('./../assets/fonts/helveticaneuecyr_thin.otf');
}

@font-face {
    font-family: Helvetica-italic;
    src: url('./../assets/fonts/helveticaneuecyr_ultralightitalic.otf');
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    font-family: Helvetica-thin;
    font-size: var(--fz-base);
    color: var(--black);

    box-sizing: border-box;
}
