@use './variables' as *;

@each $k, $v in $colors {
    .bg-#{$k} {
        background-color: $v;
    }

    .text-#{$k} {
        color: $v;
    }

    .border-#{$k} {
        border-color: $v;
    }
}
