.Toastify__toast {
    color: white !important;
}

.Toastify__toast-icon > svg {
    fill: white;
}

.Toastify__toast-body > div:last-child {
    color: white;
}

.Toastify__close-button > svg {
    fill: white !important;
}
